<h1>Вы успешно зарегистрировались</h1>
<div>
    <p>Уважаемый {{ name }}!</p>
    <p>Ваш аккаунт успешно зарегистрирован.</p>
    <p>Теперь Вы можете <a href="{{ url('app.login') }}" class="btn btn-outline-primary">войти</a> используя
        логин {{ login }} и введнный Вами пароль</p>
</div>
<img src="{{ email.image('@images/img.png') }}" alt="no image">